Inverter State->//*[@id="container"]/table/thead/tr[3]/th
Date->//*[@id="container"]/table/thead/tr[4]/th[1]
Sunrise->//*[@id="container"]/table/thead/tr[4]/th[2]
Sunset->//*[@id="container"]/table/thead/tr[4]/th[3]
Daylight Hours->//*[@id="container"]/table/thead/tr[5]/th[1]
Last Update->//*[@id="container"]/table/tbody/tr[1]/td[1]
String 1->//*[@id="container"]/table/tbody/tr[1]/td[2]
Grid Voltage->//*[@id="container"]/table/tbody/tr[1]/td[3]
Generation Start Time->//*[@id="container"]/table/tbody/tr[2]/td[1]
Av Grid Voltage->//*[@id="container"]/table/tbody/tr[2]/td[4]
Grid Current->//*[@id="container"]/table/tbody/tr[3]/td[4]
Energy Today #->//*[@id="container"]/table/tbody/tr[4]/td[1]
String 2->//*[@id="container"]/table/tbody/tr[4]/td[2]
Grid Freq->//*[@id="container"]/table/tbody/tr[4]/td[3]
Energy Week 1->//*[@id="container"]/table/tbody/tr[5]/td[1]
Peak Power Today->//*[@id="container"]/table/tbody/tr[5]/td[4]
Energy Month->//*[@id="container"]/table/tbody/tr[6]/td[1]
Peak Power Ever->//*[@id="container"]/table/tbody/tr[6]/td[4]
Energy year 2->//*[@id="container"]/table/tbody/tr[7]/td[1]
Total->//*[@id="container"]/table/tbody/tr[7]/td[2]
Internal Temp->//*[@id="container"]/table/tbody/tr[7]/td[3]
Energy lifeTime 3->//*[@id="container"]/table/tbody/tr[8]/td[1]
Power Out->//*[@id="container"]/table/tbody/tr[8]/td[2]
Isolation Resistance->//*[@id="container"]/table/tbody/tr[8]/td[3]
Min Day Energy 6->//*[@id="container"]/table/tbody/tr[9]/td[1]
Efficiency 7->//*[@id="container"]/table/tbody/tr[9]/td[2]
Dc/Dc Current Leak->//*[@id="container"]/table/tbody/tr[9]/td[3]
Max Day Energy 6->//*[@id="container"]/table/tbody/tr[10]/td[1]
Inverter Current Leak->//*[@id="container"]/table/tbody/tr[10]/td[4]
Solar Radiation 12->//*[@id="container"]/table/tbody/tr[11]/td[1]
Inverter Time->//*[@id="container"]/table/tbody/tr[11]/td[4]
Immersion Heater->//*[@id="container"]/table/tbody/tr[12]/td[1]
CO2 Saved Year10->//*[@id="container"]/table/tbody/tr[12]/td[4]
CO2 LifeTime10->//*[@id="container"]/table/tbody/tr[13]/td[4]